[experiment]
seed = 1234

[training]
# 确保 dataset_path 在 [training] 下方
dataset_path = E:/qtt/mangyuan/FMA-Net/data
save_dir = ./results/FMA-Net_BlindPixel
log_dir = ./results/log_dir

gpu = 0
nThreads = 12
batch_size = 2
lr = 0.0001
num_epochs = 400
finetuning = False
need_patch = True
save_train_img = True
patch_size = 128
scale = 1
stage = 1
num_seq = 5

# Loss 权重
lr_warping_loss_weight = 0.1
hr_warping_loss_weight = 0.1
flow_loss_weight = 0.01
D_TA_loss_weight = 0.1
R_TA_loss_weight = 0.1
Net_D_weight = 0.1

[network]
in_channels = 1
dim = 80
ds_kernel_size = 3
us_kernel_size = 3
num_RDB = 16
growth_rate = 18
num_dense_layer = 4
num_flow = 5
num_FRMA = 3
num_transformer_block = 2
num_heads = 5
LayerNorm_type = WithBias
ffn_expansion_factor = 2.66
bias = True

[validation]
val_period = 5

[test]
custom_path = E:/qtt/mangyuan/FMA-Net/data/test_blur