[experiment]
seed = 1234

[training]
# 修改为你本地的数据集绝对路径
dataset_path = D:/mangyuan/FMA-Net/data
# 建议加上任务后缀，方便区分实验结果
save_dir = ./results/FMA-Net_BlindPixel
log_dir = log_dir

gpu = 0
nThreads = 4
# 如果显存不够（如低于 12G），把 batch_size 从 8 改为 4
batch_size = 4
lr = 0.0001
num_epochs = 400

finetuning = False
# 去盲元必须开启裁剪
need_patch = True
save_train_img = True
patch_size = 256
# 关键：修复任务 Scale 必须为 1
scale = 1

# 建议先跑 Stage 1 (预训练 Net_D)，跑完后再改为 2
stage = 1
num_seq = 5

# --- Loss 权重微调 ---
# 去盲元任务中，光流精度很重要，建议把 flow 权重稍微调高一点
lr_warping_loss_weight = 0.1
hr_warping_loss_weight = 0.1
flow_loss_weight = 0.01
D_TA_loss_weight = 0.1
R_TA_loss_weight = 0.1
Net_D_weight = 0.1

[network]
# 关键：灰度图设为 1
in_channels = 1
# dim 控制模型宽度，90 比较大，如果训练太慢可以降到 64
dim = 64
# 下采样/上采样核。Scale=1 时，这些通常被模型内部跳过，但建议保持 3 这种标准尺寸
ds_kernel_size = 3
us_kernel_size = 3
# 减小模型深度（可选），提高训练速度
num_RDB = 8
growth_rate = 18
num_dense_layer = 4
num_flow = 5
num_FRMA = 3
num_transformer_block = 2
num_heads = 4
LayerNorm_type = WithBias
ffn_expansion_factor = 2.66
# 建议开启 bias
bias = True

[validation]
val_period = 5

[test]
# 修改为你专门存放待修复图片的路径
custom_path = D:/mangyuan/FMA-Net/data/test_blur